html{
    font-size: 10px;
    background: url(http://i.imgur.com/b9r5sEL.jpg) bottom center;
    background-size: cover;

}
body,html{
    padding: 0;margin: 0;
    font-family: sans-serif;
}
.keys{
    height: 100vh;  /*相对于视口的高度。视口被均分为100单位的vh */
    /* background-color: red; */
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
}
.key{
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    /* width: 10rem; */
    flex: 1;
    text-align: center;
    color: white;
    background: rgba(0,0,0,.4);
    text-shadow: 0 0 .5rem black;
}
.key div{
    font-size: 4rem;
}
.sound{
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
}
.playing{
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
    
}
