body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
blockquote {
  margin: 0;
  padding: 0;
}
h1 {
  word-wrap: break-word;
  color: #494949;
  line-height: 1.1;
}
input {
  margin-right: 3px;
  vertical-align: middle;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  background-color: #fff;
}
form {
  margin: 0;
  padding: 0;
  border: 0px;
  display: block;
}
a {
  sursor: pointer;
}
div {
  display: block;
}
body,
td,
th {
  font: 12px Helvetica, Arial, sans-serif;
  line-height: 1.62;
}
html {
  color: #111;
  background: #fff;
}
#anony-nav {
  width: 950px;
  margin: 0 auto 25px;
}
#anony-nav h1 {
  display: inline-block;
  zoom: 1;
  vertical-align: middle;
  width: 160px;
  height: 34px;
  margin: 0 20px 0 0;
  padding: 0;
  font-size: 12px;
  font-weight: normal;
  background: url("https://img3.doubanio.com/f/sns/19886d443852bee48de2ed91f4a3bdfdaf8c809c/pics/nav/logo_db.png") no-repeat 0 0;
}
#anony-nav h1 a {
  display: block;
  height: 34px;
  line-height: 10em;
}
#anony-nav .anony-srh {
  position: relative;
  display: inline-block;
  zoom: 1;
  vertical-align: middle;
  width: 270px;
  height: 30px;
  border: 1px solid #c3c3c3;
}
#anony-nav .anony-srh .inp {
  display: block;
  height: 30px;
  overflow: hidden;
}
#anony-nav .anony-srh .inp input {
  width: 240px;
  border: none;
  font-size: 13px;
  height: 20px;
  padding: 5px;
}
#anony-nav .anony-nav-links {
  float: right;
  margin-top: 6px;
}
#anony-nav .anony-nav-links ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  list-style: none;
}
#anony-nav .anony-nav-links ul li {
  display: inline-block;
  zoom: 1;
  margin: 0 0 0 17px;
}
#anony-nav .anony-nav-links ul li a {
  display: inline-block;
  zoom: 1;
  width: 40px;
  height: 20px;
  overflow: hidden;
  margin: 0;
  line-height: 20em;
  outline: none;
  vertical-align: middle;
  background: transparent url("https://img3.doubanio.com/f/sns/8af21e61874a79a3728f00b0c45d36a794f53059/pics/sns/anony_home/anony_nav_logo.png") no-repeat 100% 100%;
}
#anony-nav .anony-nav-links ul li .lnk-book {
  background-position: 0 0;
}
#anony-nav .anony-nav-links ul li .lnk-movie {
  background-position: -60px 0;
}
#anony-nav .anony-nav-links ul li .lnk-music {
  background-position: -120px 0;
}
#anony-nav .anony-nav-links ul li .lnk-group {
  background-position: -180px 0;
}
#anony-nav .anony-nav-links ul li .lnk-events {
  background-position: -299px 0;
}
#anony-nav .anony-nav-links ul li .lnk-fm {
  background-position: -241px 0;
}
#anony-nav .anony-nav-links ul li .lnk-shijian {
  margin-bottom: 1px;
  background: transparent url("https://img3.doubanio.com/f/sns/b474dd402e4293943146a4789de3dae88ec96636/pics/sns/anony_home/ic_shijian_home_nav.png") no-repeat 100% 100%;
  background-size: cover;
}
#anony-nav .anony-nav-links ul li .lnk-market {
  width: 42px;
  background-position: -421px 0;
}
