*{padding: 0;margin: 0;}
html body{
    height: 100%;
    width: 100%;
    font-size: 20px;
    font-family: Microsoft YaHei;
}
ul li{
    list-style: none;
}
.page{
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}
.page-header{
    width: 100%;
}
.page-header__pic{
    width: 100%;
    height: 200px;
    background: url("./images/woman.jpg") no-repeat;
    background-size:cover;
}
.page-header__userinfo{
    padding: 10px 10px 13px 10px;
    position: relative;
    border: 1px solid #e6e9e9;
    box-shadow: 2px black; 
}
.name{
    line-height: 1;
}
.name .sex{
    height: 24px;
    width: 24px;
    background: url("./images/性别女.png") no-repeat;
    background-size: 100%;
    position: absolute;
    margin-top: -2px;
}
.labels{
    margin-top: 10px;
}
.label{
    padding: 5px 10px;
    color: white;
    font-size: 14px;
    border-radius: 5px;
}
.blue{
    background-color: #50a9ff;
}
.green{
    background-color: #23c93e;
}
.orange{
    background-color: #fb8800;
}
.page-header__msg{
    margin-top: 10px;
}
.item{
    width: 95px;
    display: inline-block;
    position: relative;
    padding-left: 25px;
    font-size: 14px;
    color: #b9b9b9;
}
.city::before{
    content:'';
    width: 20px;
    height: 23px;
    background: url(./images/定位.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0;top: 0;   
}
.job::before{
    content:'';
    width: 20px;
    height: 23px;
    background: url(./images/职业.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0;top: 0;   
}
.like::before{
    content:'';
    width: 20px;
    height: 23px;
    background: url(./images/爱心.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0;top: 0;   
}
.wechat::before{
    content:'';
    width: 20px;
    height: 23px;
    background: url(./images/wechat.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0;top: 0;   
}
.phone::before{
    content:'';
    width: 20px;
    height: 23px;
    background: url(./images/电话.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0;top: 0;   
}
.ewm{
    height: 40px;
    width: 40px;
    position: absolute;
    top:40px;
    right: 11px;
}
.ewm img{
    display: block;
    width: 100%;
    height: 100%;
}
.envolope{
    position: absolute;
    right: 30px;
    bottom: 25px;  
    height: 50px;
    width: 55px;
}
.envolope img{
    display: block;
    width: 100px;
    height: 100px;
}
.readed-history{
    margin: 18px 0;
    border: 1px solid #e6e9e9;
    box-shadow: 2px black; 
    overflow: hidden;
}
.readed-history .img-head{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    float: left;
}
.img-heads .head1{
    margin: 12px 9px 12px 18px;
    background: url("./images/th1.jpg") no-repeat;
    background-size: contain;
}
.img-heads .head2{
    margin: 12px 9px 12px 0;
    background: url("./images/th2.jpg") no-repeat;
    background-size: contain;
}
.img-heads .head3{
    margin: 12px 0 12px 0;
    background: url("./images/th3.jpg") no-repeat;
    background-size: contain;
}
.readed-history .text{
    font-size: 12px;
    margin-left: 163px;
    margin-top: 21px;
    
}
.readed-history .text .more{
    
    height: 20px;
    width: 20px;
    background: url("./images/右箭头.png") no-repeat;
    background-size: 100%;
    position: absolute;
}
.provide{
    margin: 18px 0;
    border: 1px solid #e6e9e9;
    box-shadow: 2px black; 
}
.provide-title{
    width: 40px;
    padding-left: 8px;
    border-left: 3px solid #35abff;
    font-weight: bold;
}
.provide-detail{
    margin: 14px 0px 10px 10px;
    font-size: 12px;
    line-height: 20px;
}
.need{
    margin: 18px 0;
    border: 1px solid #e6e9e9;
    box-shadow: 2px black; 
}
.need-title{
    width: 40px;
    padding-left: 8px;
    border-left: 3px solid #08db37;
    font-weight: bold;
}
.need-detail{
    margin: 14px 0px 10px 10px;
    font-size: 12px;
    line-height: 20px;
}
.ad{
    width: 345px;
    height: 85px;
    margin: 18px 0;
    border: 1px solid #e6e9e9;
    box-shadow: 2px black; 
    background: url(./images/woman.jpg) no-repeat;
    background-size: 100% 100%;
    color: white;
    text-align: center;
}
.ad-detail{
    margin-top: 20px;
}
.ad-time{
    font-weight: bold;
}
.personalLogo{
    width: 345px;
    height: 160px;
    margin: 18px 0;
    border: 1px solid #e6e9e9;
    box-shadow: 2px black; 
}
.personalLogo .title{
    padding-left: 8px;
    border-left: 3px solid #ff8200;
    font-weight: bold;
}
.introduces .introduce{
    width: 102px;
    height: 102px;
    float: left;
    margin: 15px 0px 15px 10px;
}
.introduces .one{
    background: url(./images/pr1.jpg) no-repeat;   
    background-size: contain;
}
.introduces .two{
    background: url(./images/pr2.jpg) no-repeat;   
    background-size: contain;
}
.introduces .three{
    background: url(./images/pr3.jpg) no-repeat; 
    background-size: contain;  
}
.footBtn{
    margin-top: 22px;
    margin-bottom: 100px;
}
.footBtn .btn{
    height: 50px;
    width: 166.5px;
    border-radius: 50px;
    border: 1px solid #e6e9e9;
    box-shadow:5px black; 
    position: relative;
}
.btn.edit{
    text-align: center;
    float: left;
    line-height: 50px;
}
/* .edit #deit__logo{
    width: 30px;
    height: 30px;
    background: url(./images/编辑.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
} */
.edit::before{
    content:'';
    width: 20px;
    height: 20px;
    background: url(./images/编辑.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 40px;top: 15px;
}
.btn.share{
    float: right;
    background-color: #48a7fc;
    color: white;
    line-height: 50px;
    text-align: center;
}